body{
    background-color: #f5f4f4;
}

#crear-formula{
    width: 471px;
    height: 213px;
    background: #04bf8a;
    border-radius: 31px;
    border-color: transparent;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 54px;
    text-align: center;
    color: #ffffff;
    margin-right: 40px;
}

#ver-historial{
    width: 471px;
    height: 213px;
    background: #001b26;
    border-radius: 31px;
    border-color: transparent;
    font-family: Satoshi;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 54px;
    text-align: center;
    color: #ffffff;
}

img{
    width: 50px;
    height: 50px;
    align-items: center;
}

#next{
    border-color: transparent;
    background-color: transparent;
}

#back{
    border-color: transparent;
    background-color: transparent;
    margin-right: 580px;
}

h2{
    margin-right: 680px;
    font-family: Satoshi;
    color: #001b26;
}

#pacientes{
    display: flex;
    flex-direction: row;
    margin-left: 20px; 
}

#Formula{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}